    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        letter-spacing: -.022em;
        font-synthesis: none;
        -moz-font-feature-settings: 'kern';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #333;
        line-height: 1.5em;
    }
    
    img {
        max-width: 100%;
        /* Afbeeldingen responsive maken */
    }
    /* Voeg jouw css hieraan toe */
    /*fonts*/
    
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
    /*CSS grid*/
    
    * {
        box-sizing: border-box;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }
    /* CSS offset*/
    
    .col-offset-12 {
        margin-left: 100%;
    }
    
    .col-offset-11 {
        margin-left: 91.666666666667%;
    }
    
    .col-offset-10 {
        margin-left: 83.333333333333%;
    }
    
    .col-offset-9 {
        margin-left: 75%;
    }
    
    .col-offset-8 {
        margin-left: 66.666666666667%;
    }
    
    .col-offset-7 {
        margin-left: 58.333333333333%;
    }
    
    .col-offset-6 {
        margin-left: 50%;
    }
    
    .col-offset-5 {
        margin-left: 41.666666666667%;
    }
    
    .col-offset-4 {
        margin-left: 33.333333333333%;
    }
    
    .col-offset-3 {
        margin-left: 25%;
    }
    
    .col-offset-2 {
        margin-left: 16.666666666667%;
    }
    
    .col-offset-1 {
        margin-left: 8.333333333333%;
    }
    /*css body*/
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        color: hsla(245, 60%, 58%, 1);
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(105, 93, 240);
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(136, 126, 252);
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav {
        background-color: gray;
    }
    
    nav li a:hover {
        color: white;
    }
    
    nav li a {
        color: black;
        text-decoration: none;
    }
    
    footer {
        background-color: gray;
    }
    
    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    footer li a:hover {
        color: white;
    }
    
    footer li a {
        color: black;
        text-decoration: none;
    }
    
    .FLItitel {
        color: rgb(206, 201, 253);
        font-weight: bold
    }
    /*zoekbalk*/
    
    input[type=text] {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 80%;
    }
    
    .contactpg h1 {
        color: hsla(245, 60%, 58%, 1);
        font-family: 'Montserrat', sans-serif;
    }
    
    .search {
        background: url('../images/zoekicoon.png') no-repeat 8px 6px;
        background-size: 8px;
        text-align: end;
    }
    
    #imglonden {
        max-width: 100%;
        width: 150px;
        height: 150px;
    }
    
    .tekstlonden {
        color: hsla(245, 60%, 58%, 1);
        font-family: 'Montserrat', sans-serif;
    }
    
    .kaderpaars {
        border: solid 2px hsla(245, 60%, 58%, 1);
    }
    
    .kaderpaars p,
    .kaderpaars h1 {
        line-height: 5px;
    }
    
    .teksinvulvelden {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold
    }
    
    .button {
        background-color: hsla(245, 60%, 58%, 1);
        color: white;
        font-weight: bold;
        border: none;
    }
    
    .button:hover {
        background-color: rgb(105, 93, 240);
    }
    /* grafiek */
    
    .side {
        float: left;
        width: 15%;
        margin-top: 10px;
    }
    
    .middle {
        float: left;
        width: 70%;
        margin-top: 10px;
    }
    
    .right {
        text-align: right;
    }
    
    .bar-container {
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        color: white;
    }
    /* bar Fien */
    
    .barfien-5 {
        width: 90%;
        height: 18px;
        background-color: rgb(7, 5, 150);
    }
    
    .barfien-4 {
        width: 85%;
        height: 18px;
        background-color: #2196F3;
    }
    
    .barfien-3 {
        width: 75%;
        height: 18px;
        background-color: #cb0de4;
    }
    
    .barfien-2 {
        width: 40%;
        height: 18px;
        background-color: #f7f304;
    }
    
    .barfien-1 {
        width: 60%;
        height: 18px;
        background-color: #fc7100;
    }
    /* bar Marco */
    
    .barmarco-5 {
        width: 60%;
        height: 18px;
        background-color: rgb(7, 5, 150);
    }
    
    .barmarco-4 {
        width: 30%;
        height: 18px;
        background-color: #2196F3;
    }
    
    .barmarco-3 {
        width: 60%;
        height: 18px;
        background-color: #8f0101;
    }
    
    .barmarco-2 {
        width: 55%;
        height: 18px;
        background-color: #166e00;
    }
    
    .barmarco-1 {
        width: 5%;
        height: 18px;
        background-color: #fc7100;
    }
    /* bar Anna */
    
    .baranna-5 {
        width: 50%;
        height: 18px;
        background-color: rgb(7, 5, 150);
    }
    
    .baranna-4 {
        width: 80%;
        height: 18px;
        background-color: #8f0101;
    }
    
    .baranna-3 {
        width: 40%;
        height: 18px;
        background-color: #cb0de4;
    }
    
    .baranna-2 {
        width: 90%;
        height: 18px;
        background-color: #f44336;
    }
    
    .baranna-1 {
        width: 60%;
        height: 18px;
        background-color: #166e00;
    }
    /* bar Pieter */
    
    .barpieter-5 {
        width: 70%;
        height: 18px;
        background-color: rgb(7, 5, 150);
    }
    
    .barpieter-4 {
        width: 90%;
        height: 18px;
        background-color: #2196F3;
    }
    
    .barpieter-3 {
        width: 80%;
        height: 18px;
        background-color: #cb0de4;
    }
    
    .barpieter-2 {
        width: 40%;
        height: 18px;
        background-color: #f7f304;
    }
    
    .barpieter-1 {
        width: 60%;
        height: 18px;
        background-color: #166e00;
    }
    
    .display h1 {
        font-family: 'Montserrat', sans-serif;
        color: hsla(245, 60%, 58%, 1);
    }
    
    .display h2 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(102, 90, 231);
    }
    
    .display p {
        font-family: 'Montserrat', sans-serif;
        line-height: 5px;
    }
    
    .colors {
        width: 150px;
        height: 150px;
        background-color: hsla(245, 60%, 58%, 1);
    }
    
    .colors2 {
        width: 150px;
        height: 150px;
        background-color: #808080;
    }
    
    .colors3 {
        width: 150px;
        height: 150px;
        background-color: rgb(105, 93, 240);
    }
    
    .paars {
        color: hsla(245, 60%, 58%, 1);
    }
    
    #hb {
        color: black;
        font-weight: bold;
    }